<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Lillian's Hot Chicken </title>
  </head>

  <body>
    <h1> Lillian's Hot Chicken </h1>

    <p> It's hard to articulate how good this Nashville hot chicken is. </p>

    <ul>
      <% chickens.forEach(function (theChicken) { %>
        <li>
          <h3> <%= theChicken.spice_level %> </h3>
          <p> Meat Type: <%= theChicken.meat_type %> </p>
          <p> Bone Status: <%= theChicken.bone_status %> </p>
        </li>
      <% }); %>
    </ul>

    <a href="/chicken/new">
      Add a new chicken type
    </a>

    <img src="/chicken.jpg" alt="Chicken totally not from the competition." width="100%">
  </body>
</html>
